<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>إضافة بيع</title>
</head>
<body>

<h2>إضافة بيع جديد</h2>

<form method="post">
    <input name="customer" placeholder="الاسم"><br><br>
    <input name="phone" placeholder="الهاتف"><br><br>
    <input name="plot_no" placeholder="رقم القطعة"><br><br>

    <select name="sale_type">
        <option>نقد</option>
        <option>دين</option>
        <option>أقساط</option>
    </select><br><br>

    <input name="total" placeholder="السعر الكلي"><br><br>
    <input name="paid" placeholder="المدفوع"><br><br>
    <input name="note" placeholder="ملاحظة"><br><br>

    <button type="submit">حفظ</button>
</form>

<br>
<a href="/">⬅ رجوع</a>

</body>
</html>